.profile__add-button {
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  border-radius: 2px;
  border: 2px solid white;
  background-image: url(../../../images/__add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
}


@media screen and (max-width: 710px) {
  .profile__add-button {
    width: 282px;
    margin-top: 33px;
    background-size: 16px;
  }
}
